<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${listCategories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
    </tr>
    </tbody>
</table>
<form method="post" action="/productcategory/">
    <input type="text" name="name" value="">
    <button type="submit" name="btnButton">INSERT</button>
</form>
</body>
</html>