<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table class="table">
									<thead>
										<tr>
											<th class="text-center">ID</th>
											<th>tên dịch vụ</th>
											<th>tên người đặt</th>
											<th>số điện thoại</th>
											<th>ngày đặt</th>
											<th>ngày hẹn</th>
											<th>Ghi chú</th>
											<th>trạng thái</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="schedule : ${schedulelist}">
											<td class="text-center" th:text="${schedule.idschedule}">1</td>
											<td th:text="${schedule.service.name}"></td>
											<td th:text="${schedule.user.name}"></td>
											<td th:text="${schedule.user.phone}"></td>
											<td th:text="${schedule.dateorder}"></td>
											<td class="text-right" th:text="${schedule.datacheckin}"></td>
											<td class="text-right" th:text="${schedule.note}"></td>
											<th:block th:if="${schedule.datacheckin.before(#dates.createNow())}">
												<td>Đã qua</td> 
											</th:block> 
											<th:block th:if="${schedule.datacheckin.after(#dates.createNow())}">
												<td>sắp tới</td> 
											</th:block> 
										</tr>
										</tbody>
								</table>
</body>
</html>